/* Style for button container */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Add some spacing between buttons and table */
}

/* Style for button */
.btn-warning {
  background-color: #ff9800;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-delete-btn {
    background-color: #ff9800;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    }

.btn btn-success {
    background-color: #ff9800;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; 
}